.bannerWrapper {
  width: 100%;
  max-width: 620px; /* ✅ Giới hạn bề ngang của swiper */
  margin: 0 auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

/* Swiper navigation buttons */
.bannerWrapper :global(.swiper-button-prev),
.bannerWrapper :global(.swiper-button-next) {
  color: #000000;
  background-color: rgba(246, 246, 246, 0.9);
  border-radius: 50%;
  width: 25px;     /* Bé lại */
  height: 25px;
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
}

/* Nút nằm trong wrapper */
.bannerWrapper :global(.swiper-button-prev) {
  left: 5px;
}

.bannerWrapper :global(.swiper-button-next) {
  right: 5px;
}
.bannerWrapper :global(.swiper-button-next)::after {
  font-size: 15px !important; /* 👈 Mũi tên nhỏ hơn */
}
.bannerWrapper :global(.swiper-button-prev)::after {
  font-size: 15px !important;
}

/* Responsive image inside SwiperSlide */
.bannerWrapper :global(img) {
  width: 100%;
  height: auto;
  object-fit: cover;
}
